/************/
/* Registro */
/************/
#wellcome-content{
    width: 850px;
    float:left;
    margin-left: 5px;
}


#login-register{
    width: 850px;
    padding-top: 20px;
    padding-bottom: 50px;
    color: #7F8184;
    overflow:hidden;
}

#login-register h3{
	color: #414040;
}
#login h3{
	text-align: right;
}
#login-register label {
	color: #7F8184;
	font-size: 14px;
}
#login-register input[type="text"], #login-register input[type="password"]{
	width: 215px;
	height: 30px;
	padding: 0 5px;
	clear: both;
	margin-bottom: 15px;
}
#login-register input[type="radio"]{
	margin-left: 10px;
}
#login-register #login{
	width: 225px;
	float: left;
	padding-left: 150px;
	padding-right: 40px;
	
}
#login-register #register{
	width: 385px;
        float: left;        
        padding-left: 40px;
        border-left: solid 1px white;
}
#label-sex{
	border-right: solid 2px #FFFFFF;
	padding-right: 12px;
}
#register-work{
	margin-top: 15px;
}

#conditions-span{
    font-size: 13.5px;
}
#login-register input[type="submit"]{
	padding: 8px 18px;
	font-size: 15px;
	color: #888;
	border: none;
	-moz-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
        height: 30px;
}
#login-submit{
	float: right;
        color: #404141;
}

.form-info{
    float:right;
    height:30px;
    width:138px;
    color:red;
    font-size:12px;
    padding-top:3px;
}

#info-login-email{
    width:100%;
    font-size: 12px;
    color: red;
}

/*********/
/* Popup */
/*********/
#shadow{
    position: absolute;
    top:0;
    left:0;
    display:none;
    height:100%;
    width:100%;
    background:#000;
    z-index:150;
    opacity:0.8;
    filter:alpha(opacity=80);
}
#popup{
    width: 300px;
    height: 150px;
    background: #040404 url("../images/loading.gif") no-repeat 50% 50%;
    position:fixed;
    top:0;
    left:0;
    display:none;
    /*padding: 60px 30px 35px 30px;*/
    z-index:200;
}

#popup-content{
    z-index: 200;
    display:none;
    float: left;
    background: #040404;
    padding: 35px 30px 55px 30px;
    border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;
}
#popup-content-left{
    float: left;
    background: #FFFFFF;
    padding: 5px 10px;
    margin-right: 10px;
}
#popup-content-right{
    float: right;
    background: #FFFFFF;
    padding: 5px 10px;
    width: 250px;
}
#popup-title{
    width: 94%;
    float: left;
    background: #383839;
    margin-bottom: 5px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 2% 3%;
    min-height: 16px;
}
#popup-price-brand{
    background: #E9E9EA;
    width: 94%;
    float: left;
    margin-bottom: 5px;
    padding: 2% 3%;
}
#popup-price{
    width: 100%;
}
#popup-brand{
    width: 100%;
}
#popup-price-brand a{
    color: #1C75BE;
    text-decoration: none;
}

#popup-description{
    width: 94%;
    min-height: 100px;
    clear: both;
    background: #E9E9EA;
    margin-bottom: 5px;
    padding: 2% 3%;
}
#popup-input-send{
    width: 185px;
    background: #383839;
    margin-bottom: 5px;
    color: #FFFFFF;
    border: none;
    padding-left: 5px;
    margin-right: 3px;
}
#popup-submit{
    padding: 2px 5px;
    font-size: 12px;
}
#cerrarCapaEmergente{
    position:absolute;
    top:0px;
    right:0px;
    font-size:20px;
    cursor:pointer;
    color: #373537;
    width: 16px;
    height: 15px;
}
#popup-nav{
    width: 100%;
    margin: 0;
    margin-left: -30px;
    position: absolute;
    padding-top: 10px;
    bottom: 10px;
    text-align: center;
}

#popup-social img{
    height: 20px;
}

#popup_facebook{
    background: url(images/ilike.png) no-repeat;
    height: 20px;
    width: 81px;
    border: 0px;
    float: left;
}

#popup_twitter{
    background: url(images/tweet.png) no-repeat;
    height: 20px;
    width: 57px;
    border: 0px;
    float:left;
    margin-left: 5px;
}

.nav-list li {
    list-style:none;
    display:inline;
    cursor: pointer;
    margin-right: 5px;
}

.nav-list{
    margin:0;
}
/**************************/
/* Popup añadir categoria */
/**************************/
.form-add-new-category{
    width: 250px;
    background: #E9E9EA;
    border: 10px solid #FFFFFF;
    padding: 15px;
    font-size: 14px;
}
.input-new-category{
    width: 100%;
    margin: 15px 0px;
}

#input-link{
    width:100%;
}

/* Fonts */

/* Intenet explorer */
@font-face{
 font-family: "lsansuni";
 src: url(./fonts/lsansuni.eot);
 font-weight: normal;
 font-style: normal;
}
@font-face{
 font-family: "ebasneue";
 src: url(./fonts/ebasneue.eot);
 font-weight: normal;
 font-style: normal;
}

/* Otros navegadores */
@font-face{
 font-family: "lsansuni";
 src: url(./fonts/lsansuni.ttf);
 font-weight: normal;
 font-style: normal; 
}
@font-face{
 font-family: "ebasneue";
 src: url(./fonts/ebasneue.ttf);
 font-weight: normal;
 font-style: normal; 
}

/* Structure */
body{
    background: url(images/home/fondo.png);
    font-family: "lsansuni";
    color: #333333;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden; 
}
#page{
    width: 960px;
    margin: 0 auto;
    overflow: visible;
    background: url(images/home/fondo.png);
    margin-top:10px;
}

#bg-header{
    width: 100%;
    height: 65px;
    padding-top: 0.5%;
    background: url(images/home/fondo.png);
}
#border-header-top{
    width: 100%;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #A7AAAC;
}

#border-header-bottom{
    width: 100%;
    border-top: 1px solid #A7AAAC;
    border-bottom: 1px solid #FFFFFF;
}
#header{
    width: 100%;
    height: 50px;
    padding-top: 7px;
    margin: 0 auto;
    background: url(images/home/cabecera.png) repeat-x;
}




#sidebar{
    width: 170px;
    float: left;
    min-height: 500px;
}


#content{
    width: 725px;
    padding-top: 15px;
    padding-left: 65px;
    margin-bottom: 50px;
    float: left;	
    background: url(images/home/separador_muro.png) repeat-y 0 100%;
    min-height: 380px;
}

#notificaciones{
    margin-top: 5px;
}

.sessions-notifications{
    float:left;
    padding-top: 2px;
}

#session_invitation{
    float: right
}

#session_invitation div{
    width: 200px;
    font-size: 10px;
    float:left;
    margin-left: 20px;
}
.contenedor_not_products{
    width: 53px;
    height: 32px;
    background-image: url(images/sesiones/productos_on.png);
    background-repeat: no-repeat;
    float: left;
    margin-left: 1px;
}

.contenedor_not_mensajes{
    width: 51px;
    height: 32px;
    background-image: url(images/sesiones/mensaje_on.png);
    background-repeat: no-repeat;
    float: left;
    margin-left: 3px;
    margin-top: 3px;
} 
    
.contenedor_not_mensajes_0{
    width: 40px;
    height: 32px;
    background-image: url(images/sesiones/mensaje.png);
    background-repeat: no-repeat;
    float: left;
    margin-top: 5px;
    margin-left: 1px;
    clear: both;
}

.contenedor_not_products_0{
    width: 45px;
    height: 32px;
    background-image: url(images/sesiones/producto.png);
    background-repeat: no-repeat;
    float: left;
    margin-left: 1px;
 
}

.not-messages{
    color: white;
    top: 8px;
    left: 11px;
    position: relative;
    font-size: 12px;
    width: 24px;
    text-align: center;
    margin-left: 13px;
}

.not-products{
    color: white;
    top: 8px;
    left: 21px;
    position: relative;
    font-size: 12px;
    width: 24px;
    text-align: center;
}

#li-sesiones{
    float:right;
    width: 128px;
}

#user-notifications{
    float:left;
    height:20px;
    width: 20px;
    background-image: url(images/sesiones/notificacion.png);
    background-repeat: no-repeat;
    font-size:12px;
    margin-top:10px;
    display: none;
}

#user-notification-star{
    font-size: 11px;
    color: white;
    text-align: center;
    width: 18px;
    position: relative;
    top: 3px;
    left: 0px;
}

/* Header */

#container-logo{
	width: 940px;
	padding-left: 20px;
	height: 70px;
	margin-left: 25px;
	margin: 0 auto;
}
#container-logo h1{
	margin: 0;
        float:left;
        width:300px;
}
#container-logo a{
	text-decoration: none;
	color: #1C75BE;
}
#logo{
	outline: none;
	border: none;
	color: 1C75BE;
}



#header-tool div{
    float:right;
    font-size: 12px;
    padding-top: 20px;
    clear:both;
    margin-top: 8px;
    padding-top: 0px;
}

#header-tool{
    color: #E8E9E9;
}

#header-tool{
    float:right;
    
}

#user-options{
    display:none;
}

#img-refresh{
    float:right;
    width: 18px;
    margin-top: 5px;

}

#refresh{
    float: right;
    clear: both;
    width: 82px;
}

#refresh a{
    color: #E8E9E9;
    text-decoration: none;
    font-size: 12px;
}

#header-tool{
    height: 33px;
    overflow: visible;
    margin-top: 15px;
}


#header-tool ul ul{
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0px;
    float: left;
    z-index: 99999;
}

#menu-user{
    padding: 0px;
    margin: 10px 15px 15px 15px;
}


div#user-options{
    background: black; 
    margin-top: 3px;
    position: relative;
    z-index: 300;
    
}

#user-options li{
   list-style: none;
   margin-bottom: 10px;
}

#user-options li a, #user-options li a:hover, #user-options li a:link{
    color: white;
}


/* Sidebar */

/* Menu sidebar */

#menu-sidebar ul{
    width: 150px;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu-sidebar li{
    height: 39px;
    padding: 8px 10px;
    text-align: right;
    background: url(images/home/separador_botonera.png) repeat-x 0 100%;
}
#menu-sidebar li:last-child{
    background: none;
}

#menu-sidebar a{
    text-decoration: none;
    color: #A7AAAC;
    font-family: "ebasneue";
    font-size: 35px;
}
#menu-sidebar a.active{
    color: #414142;
}


/* Content */

/* Tiendas */
.menu-my-stores{
    float: left;
    padding: 5px;    
    position: relative;
}

.menu-my-stores ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;	
}
.menu-my-stores li{
    height: 21px;
    margin-top: 5px;
    display: inline;
}

.menu-my-stores a{
    float: left;
    text-decoration: none;
}

#submenu-stores{
    clear: both;
    float: left;
    height: 25px;
    width: 100%;
}

#submenu-moda{
    display:none;
    float: left;       
    position: relative;
    margin-left: 0px;
}

#submenu-moda ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;	
}
#submenu-moda li{
    height: 21px;   
    display: inline;    
    float:left;
    margin-right: 25px;
}

#submenu-moda a{
    float: left;
    text-decoration: none;
    font-family: ebasneue;
    color:#818386;
    letter-spacing: 1px;
}

#submenu-moda a:hover{
    color:#3A3A3B;
}


#submenu-moda a.active{    
    color:#000;
}

#container-stores{
    width: 100%;
    overflow: hidden;
    min-height: 200px;
}

#tiendas-mbf, #mis-tiendas{
    position: relative;
    top: 0px;
    left: 0;
    float: left;
    display: none;
    min-height: 200px;
}
#tiendas-mbf{
    position: relative;
    top: 0px;
    left: 0;
    float: left;
    display: block;
}
.store{
    width: 195px;
    height: 100px;  
    float: left;
    background: url(images/tiendas/bg_tienda.png) no-repeat;
    margin-right: 20px;
    margin-bottom: 10px;
    position: relative;
}


.my_store{
     width: 195px;
    height: 100px;  
    float: left;
    background: url(images/tiendas/bg_tienda.png) no-repeat;
    margin-right: 20px;
    margin-bottom: 10px;
    position: relative;
    
}
.container-img-store{
    width: 195px;
    overflow: hidden;
    text-align: center;
}
.container-img-store img{
    margin-top: 8px;  
}
.container-description-store{
    width: 189px;
    height: 44px;
    padding: 4px 3px;
    background: url(images/tiendas/bg_texto.jpg) no-repeat;
}
.container-description-store p{
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 10px;
    overflow: hidden;	
}
.bandera-verde{
    width: 22px;
    height: 35px;
    background: url(images/tiendas/bandera_verde.png) no-repeat;
    position: absolute;
    top: 0;
    right: 8px;
}
.bandera-naranja{
    width: 22px;
    height: 35px;
    background: url(images/tiendas/bandera_naranja.png) no-repeat;
    position: absolute;
    top: 0;
    right: 33px;
}
.options-store{
    width: 20px;
    height: 66px;
    padding: 4px;
    background: url(images/botones/fondo_botones.jpg) no-repeat;
    position: absolute;
    top: 5px;
    left: 7px;
    display: none;
}
.options-store .sesion div{
    width: 20px;
    height: 20px;
    background: url(images/botones/sesion_off.png) no-repeat;
    margin-bottom: 3px;
}
.options-store .ir-tienda div{
    width: 20px;
    height: 20px;
    background: url(images/botones/ir_tienda_off.png) no-repeat;
    margin-bottom: 3px;
}
.options-store .suscribirse div{
    width: 20px;
    height: 20px;
    background: url(images/botones/suscribirse_off.png) no-repeat;
}
.options-store .sesion:hover div{
    background: url(images/botones/sesion_on.png) no-repeat;
}
.options-store .ir-tienda:hover div{
    background: url(images/botones/ir_tienda_on.png) no-repeat;
}
.options-store .suscribirse:hover div{
    background: url(images/botones/suscribirse_on.png) no-repeat;
}

.tooltip-sesion{
    width: 75px;
    height: 20px;
    background: url(images/tiendas/iniciar_sesion.png) no-repeat;
    position: absolute;
    top: 2px;
    left: 30px;
    display: none;
}
.tooltip-tienda{
    width: 71px;
    height: 20px;
    background: url(images/tiendas/ir_a_la_tienda.png) no-repeat;
    position: absolute;
    top: 27px;
    left: 30px;
    display: none;
}
.tooltip-guardar{
    width: 118px;
    height: 20px;
    background: url(images/tiendas/guardar_en_mis_tiendas.png) no-repeat;
    position: absolute;
    top: 52px;
    left: 30px;
    display: none;
}

/* Productos */
#menu-productos{
    float: left;
    padding: 5px;
    clear: both;
    position: relative;
    border:1px solid #DCDDDE;
    box-shadow: 0px -1px 0px 0px #9d9fA2, 0px 1px 0px 0px #f3f4f4 ;
    -moz-box-shadow: 0px -1px 0px 0px #9d9fA2, 0px 1px 0px 0px #f3f4f4 ;
    -webkit-box-shadow: 0px -1px 0px 0px #9d9fA2, 0px 1px 0px 0px #f3f4f4 ;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    max-width: 688px;
}

#menu-productos.menu-my-stores{
    height: 32px;
}

#menu-productos ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;	
}
#menu-productos li{
	height: 21px;
	margin-top: 5px;
	display: inline;
}

#menu-productos a{
	float: left;
	text-decoration: none;
}

#add-category-div{
    float: left;
    margin-top: 10px;
    margin-left: 7px;
    font-size: 13px;
    height: 24px;
    width: 34px;    
}

#add-category-div div{
    float:left;
}
#add-category-div img{
    float:right;
}

#add-category-div a{
    color: #818385;
 }
 
 #add-category{
     cursor: pointer;
 }
 #add_session_div{
     float: left;
    margin-top: 10px;
    margin-left: 7px;
    font-size: 13px;
 }
 
 #add_session_div a{
    color: #818385;
 }
    
#container-productos{
	width: 100%;
	padding-top: 18px;
	overflow: hidden;
}

#container-productos > section{
	position: relative;
	top: 0px;
	left: 0;
	float: left;
	display: block;
}

#container-stores{
    width: 100%;
    overflow: hidden;
}
.producto{
	width: 139px;
	height: 256px;
	padding: 5px 7px;
	float: left;
	background: url(images/mis_cosas/bg_producto.png) no-repeat;
	margin-right: 28px;
	margin-bottom: 20px;
	position: relative;
	font-size: 12px;
	color: #414141;
}

.container-img-producto{
	width: 129px;
	height: 190px;
	padding: 0px 5px;
	overflow: hidden;
	display:table-cell;
	vertical-align:middle;
	text-align: center;
}
.container-img-producto img{
	cursor: pointer;
}
.container-info-producto{
	margin-top: 8px;
}
.title-producto{
	width: 126px;
	height: 20px;
	padding: 3px 5px;
	background: url(images/mis_cosas/bg_precio_producto.jpg) no-repeat;
	margin-bottom: 3px;
}
.price-brand-producto{
	width: 126px;
	height: 20px;
	padding: 3px 5px;
	background: url(images/mis_cosas/bg_precio_producto.jpg) no-repeat;
}
.brand-producto{
	float: right;
}

.options-producto{
	width: 20px;
	height: 43px;
	padding: 4px;
	background: url(images/botones/fondo_botones_productos.png) no-repeat;
	position: absolute;
	top: 10px;
	left: 7px;
	display: none;
}
.options-producto .producto-sesion div{
	width: 20px;
	height: 20px;
	background: url(images/botones/producto_sesion_off.png) no-repeat;
	margin-bottom: 3px;
}
.options-producto .producto-carpeta div{
	width: 20px;
	height: 20px;
	background: url(images/botones/carpeta_off.png) no-repeat;
	margin-bottom: 3px;
}
.options-producto .producto-sesion:hover div{
	background: url(images/botones/producto_sesion_on.png) no-repeat;
}
.options-producto .producto-carpeta:hover div{
	background: url(images/botones/carpeta_on.png) no-repeat;
}

.tooltip-producto-carpeta{
	width: 100px;
	background: url(images/botones/bg_texto_botones_carpetas_productos.png) repeat-y;
	position: absolute;
	top: 0px;
	left: 28px;
	display: none;
        margin-top: 30px;
}

.tooltip-producto-sesion{
	width: 100px;
	background: url(images/botones/bg_texto_botones_carpetas_productos.png) repeat-y;
	position: absolute;
	top: 0px;
	left: 28px;
	display: none;
        max-height: 240px;
        overflow-y: scroll;
        overflow: hidden;
        width: 137px;
}

.menu-tooltip-producto{
	width: 120px;
	float: left;
	padding: 5px;
	clear: both;
	position: relative;
	background: url(images/botones/bg_texto_botones_carpetas_productos.png) repeat-y;        
              
}

.menu-tooltip-producto ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;	
}
.menu-tooltip-producto li{
	height: 21px;
	margin-top: 5px;
	text-align: center;
}

.menu-tooltip-producto span{
	text-decoration: none;
	color: #777;
        cursor: pointer;
}
.menu-tooltip-producto a:hover{
	text-decoration: none;
	color: #414141;
}

.delete-product{
    width: 15px;
    height: 15px;
    background-image: url(images/borrar_producto.png);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 400;
    position: absolute;
    left: 135px;
    cursor: pointer;
    top: 4px;
    display: none;
}

/* Sesiones */

#container-sesiones{
	width: 100%;
	padding-top: 18px;
	overflow: hidden;
}

#container-sesiones .sesion{
	width: 190px;
	height: 86px;
	padding: 5px 10px;
	margin-right: 15px;
	margin-bottom: 20px;
	float: left;
	position: relative;
	background: url(images/sesiones/bg_sesiones.png) no-repeat;
	font-size: 12px;
        cursor: pointer;
}

.sessions-left{
    float: left;
    width: 139px;
    height: 74px;
}

.sessions-right{
    float: left;
    height: 75px;
    width: 50px;
}

.sessions-top{
    float: left;
    width: 100%;
   
    margin-top: 2px;
    height: 29px;
}

.sessions-bot{
    float:left;
    width: 100%;
}

.sessions-avatar{
    width: 26px;
    height: 32px;
    float:left;
}

.sessions-nick{
    color: #1875BC;
    font-weight: bold;
    margin-left: 27px;
    float: left;
    font-size: 18px;
    margin-top: 9px;
    height: 22px;;
}

.sessions-left-bottom{
    float: left;
    width: 100%;
    height: 44px;
}

.sesion-title{
    width: 100%;
    float: left;
    margin-bottom: 4px;
    font-weight: bold;
    color: #595A5C;
    letter-spacing: 0.8px;
    margin-top: 7px;
    text-transform: uppercase;
    font-size: 14px; 
    height: 17px;
}

.container-avatar-sesion{
	width: 45px;
	height: 49px;
	overflow: hidden;
	margin-right: 15px;
	float: left;
	margin-bottom: 2px;
}

.container-brand-sesion{
	width: 130px;
	height: 51px;
	padding-top:2px;
	overflow: hidden;
	display:table-cell;
	vertical-align:middle;
	text-align: center;
}

.container-brand-sesion img{
    width: 104px;
}

.name-sesion{	
    font-weight: bold;
    color: #1D75BC;
    letter-spacing: 0.8px;
}

.date-sesion{
    float: left;
    color: #818385;
    margin-top: -3px;
}

.sesion .bandera-naranja{
    right: 8px;
}

.pendiente{
    font-family: arial;
    font-style: italic;
    font-size: 18px;
}

/** dentro sesion **/

#session-slide{
    float:left;
}

#session-pliegue{
    clear: both;
    width:100%;    
    height:40px;
}

.pliegue-up{
    background-image: url('images/sesiones/pliegue.png');
    background-repeat: no-repeat;
}

.pliegue-down{
    background-image: url('images/sesiones/pliegue-down.png');
    background-repeat: no-repeat;
}

.social-left{
    width: 490px;
    margin-bottom: 19px;
    float: left;   
    clear: both;
    margin-top: 11px; 
    margin-bottom: 10px;
    border-bottom: 1px solid #D3D4D8;
    box-shadow: 0px 1px white;
    -webkit-box-shadow: 0px 1px white;
    -moz-box-shadow: 0px 1px white;
    
}


#session-nick{
    float:left;
}

#session-title{
    float:right;    
    color: #404141;
}

#session-social{
   clear: both;
   width: 100%;
       
}


#dentro-sesion-left{
    width: 335px;
    float: left;
    margin-top: 35px;
}

#sesion-info{
    width: 100%;
    padding-bottom: 15px;
    margin-left: -10px;
    padding-left: 10px;
    float: left;
    background: url(images/sesiones/dentro_sesion/separador_horizontal.png) repeat-x 0 100%;
    color: #818385;
}

#sesion-creator, #sesion-title{
    width: 100%;
}

#sesion-creator span, #sesion-title span{
    color: #1D75BC;
}

#container-sesion-brand{
    float: left;
    clear: both;
    padding: 10px;
    margin: 10px 0;
    background: white;
    border: solid 1px #BDBEC1;
}

#link-brand{
    float: left;
    clear: both;
}

#session-title-nick{
    float:left;
    width:100%;
    clear:both;    
    border-bottom: 1px solid #D3D4D8;
    box-shadow: 0px 1px  white;
    -webkit-box-shadow: 0px 1px white;
    -moz-box-shadow: 0px 1px white;
    margin-bottom: 10px;
}

.session-title{
    font-family: lsansuni;
    font-weight: bold;
    color: #888;
}

#session-title{
    font-family: lsansuni;
    font-weight: bold;
    color: #404141;
    text-transform: uppercase;
    font-size: 20px;
}

#session-title span{
    font-family: arial;
    font-size: 10px;
    color: #E75917;
    cursor: pointer;
}

.session-color{
    font-family: lsansuni;
    font-weight: bold;
    color: #404141;
    font-size: 14px;
    
  
}
#session-nick .session-color{
  margin-left: 5px;
  font-size: 21px;
}


#sesion-date{
    float: left;
    clear: both;
    font-size: 14px;
}
#social-left{
    float: left;
    width: 479px;
}



#sesion-right{
    float: right;
    max-height: 195px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 32px;
    margin-top: 12px;
    color: #888;
}

#sessions-stores{
    padding: 0px;
    list-style: none;
    margin-top: 5px;
}

#sessions-stores a{
    font-size: 13px;
}

#session-stores li{
    height: 12px;
}

.session-store{
    height: 15px;
}

#sesion-chat{
    height: 120px;
    overflow-y: scroll;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 15px;
    float: right;
    background: white;
    width: 466px;
    border-top: 4px solid white;
    border-left: 0px solid white;
    border-right: 4px solid white;
    border-bottom: 0px solid white;
}
.sesion-message{
    padding: 5px 10px;
    background: #EFF0F0;
    margin-bottom: 2px;
    float: left;
    width: 430px;
}
.sesion-message-left{    
    margin-right: 5px;
    float: left;
}
.sesion-message-name{
    float: left;
    color: #1D75BC;
    font-weight: bold;
    font-size: 14px;
}
.sesion-message-time{
    float: left;
    color: #939598;
    font-size: 11px;
    clear: both;
}
.sesion-message-right{    
    padding-right: 5px;
    float: left;	
}
.sesion-message-text{
    margin: 0;
    color: #595A5C;
    font-size: 13px;
}

#session-products{
    float: left;
    margin-top: 22px;
}

#container-new-message{
    float: left;
    margin-top: 10px;
}
#new-message{
    width: 468px;
    max-width: 100%;
    padding: 5px 5px;
    height: 39px;   
}
#dentro-sesion-right{
    width: 380px;
    padding-left: 10px;
    float: left;
    margin-top: 35px;
    background: url(images/sesiones/dentro_sesion/separador_vertical.png) no-repeat 0 0;
}

/********/
/* Misc */
/********/
.bg-botonera{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 4px;
}
.bg-botonera-left{
    width: 6px;
    height: 40px;
    background: url(images/home/bg_botonera_left.png) no-repeat;
    float: left;
    margin-left:-6px;
}
.bg-botonera-mid{
    width: 100%;
    height: 40px;
    background: url(images/home/bg_botonera_mid.png) repeat-x;
    float: left;
    margin-left:-4px;
}
.bg-botonera-right{
    width: 5px;
    height: 40px;
    background: url(images/home/bg_botonera_right.png) no-repeat;
    float: left;
    margin-left: -4px;
}

.bg-botonera_N{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 4px;
}
.bg-botonera-left_N{
    width: 6px;
    height: 40px;
    background: url(images/home/bg_botonera_left_n.png) no-repeat;
    float: left;
    margin-left:-6px;
}
.bg-botonera-mid_N{
    width: 100%;
    height: 40px;
    background: url(images/home/bg_botonera_mid_n.png) repeat-x;
    float: left;
    margin-left:-4px;
}
.bg-botonera-right_N{
    width: 5px;
    height: 40px;
    background: url(images/home/bg_botonera_right_n.png) no-repeat;
    float: left;
    margin-left: -4px;
}



.button{
    width: 87px;
    height: 20px;
    padding: 5px 5px;
    margin-left: 1px;
    background: url(images/home/boton_off.png) no-repeat;
    border: none;
    font-family: "ebasneue";
    font-size: 18px;	
    color: #939598;
    z-index: 100;
    position: relative;	
}

#nav-slider-register .button{
    height: 32px;
}
#slider-right .button{
    height: 32px;
}

#slider-left .button{
    height: 32px;
}


.button-small{
    width: 87px;
    height: 30px;
    padding: 5px 0px;
    margin-left: 1px;
    background: url(images/home/boton_off_N.png) no-repeat;
    border: none;
    font-family: "ebasneue";
    font-size: 18px;	
    color: #6d6e71;
    z-index: 100;
    position: relative;	
}

.button-small.active{
    background: url(images/home/boton_on_N.png) no-repeat;
    color: #404041;
}

 .button-small:hover{
    color:#404041;
}

.form-add-new-category .button{
    height : 30px;
}

.menu-my-stores .button:hover{
	background: url(images/home/boton_off_N.png) no-repeat;
	color: #939598;
	cursor: pointer;
}

#menu-mis-tiendas{
    height: 32px;
    float: left;
    padding: 5px;    
    position: relative;
    border:1px solid #DCDDDE;
    box-shadow: 0px -1px 0px 0px #9d9fA2, 0px 1px 0px 0px #f3f4f4 ;
    -moz-box-shadow: 0px -1px 0px 0px #9d9fA2, 0px 1px 0px 0px #f3f4f4 ;
    -webkit-box-shadow: 0px -1px 0px 0px #9d9fA2, 0px 1px 0px 0px #f3f4f4 ;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    max-width: 688px;
    margin-left: 30px;
}

#menu-mis-tiendas a{
    text-align:center;
}

#menu-productos .button.active{
    background: url(images/home/boton_on.png) no-repeat;
    color: #404041;
}

#menu-productos .button:hover{
    
}

.menu-my-stores  .button.active{
    background: url(images/home/boton_on_N.png) no-repeat;
    color: #FFF;
}

#menu-productos .button{
    color: #6d6e71;
}

#menu-productos a:hover{
    color: #404041;
}

a{
    text-decoration: none;
    border: 0;
    outline: 0;
    color: #2775BC;
}
a img{
	border:none;
}

.my_store_name{
    text-align: center;
}

/* AGREGACIONES */

#form-add-new-category .button{
    height:30px;
}



/********************/
			/* Slider register	*/
			/********************/
			#nav-slider{
				z-index: 3;
				position: absolute;
				bottom: 0;
				left: 350px;
			}

			#nav-slider-register{ 
				width: 100%;
				float: left;     
				text-align: center;
				margin-top:20px;
			}
			#nav-slider-register ul{
				float: right;
				text-align: right;
				margin: 0 auto;
			}

			#nav-slider ul{
				padding: 0;
			}
			.nav-list li {
				list-style:none;
				display:inline;
				cursor: pointer;
				margin-right: 5px;
			}

			.nav-list{
			}

			.slider-item{	
				z-index: 1;
			}

			.slider-register-container, .slider-register-item
			{
				width: 710px;
				overflow: hidden;
				position:relative;
				float:left;
				height: 461px;
			}

			.slider-register-container
			{
				clear:both;
				float:left;
				
			}

			.slider
			{
				float:left;
				clear:both;
				width:100000px;
				position: relative;
				top: 0;
				left:0;
				z-index: 2;
			}

			#content-register{
				width: 720px;
				padding-top: 10px;
				float: left;
			}

			/**************/
			/* Registro-2 */
			/**************/

			#page-register{
				width: 710px;
				margin: 0 auto;
				overflow: hidden;
				margin-bottom: 25px;
			}

			#register-2 section{
				margin-left: 50px;
			}

			#register-2-center{
				float: left;
				margin-left: 65px;
			}

			#what-is{
				float:left; 
				margin-top: 25px;
				margin-bottom: 25px;
			}

			#how-works{
				float:left;
				margin-top:25px;
				padding-top: 25px;
			}

			.slider-register{
				width: 710px;
				background: #D0D1D3;
				padding-top: 20px;
				padding-bottom: 50px;
				color: #7F8184;
				overflow:hidden;
			}

			#register-2-description{
				width:390px;
				float:left;
			}

			#register-2-button{
				float:left;
				position: relative;
				width: 130px;
				margin-top: 10px;
			}

			#register-bookmarklet{
				float: right;
				text-align:center;
				padding-top: 3px;
				margin-left: 10px;
				background: #939598;
				width: 60px;
				height: 30px;
				color:white;
				font-size: 18px;
				font-weight: bold;
				-moz-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
			}

			#register-bookmarklet a{
				color: white;
				text-decoration: none;
				font-size: 20px;
			}

			#register-2-button img{
				float:left;
				margin-top: 8px;
			}	

			header.register-title{
				float:left;
				width:100%;
				clear:both;
				margin-bottom:5px;
			}
			span.register-title{
				color:#404141;
				font-size:23px;
				float:left;
				margin-top: 8px;
				width: 295px;
				font-family: Arial, Helvetica,sans-serif; 
			}

			.register-description{
				font-size: 16px;
				width: 390px;
				color: black;
				float:left;
			}

			.register-step{
				color:#64B2A3;
				font-size:32px;
				float:left;
			}

			#register-2-screen1{
				margin-top: 20px;
				float:left;
			}


			/***************/
			/* Registro 3  */
			/***************/
			#register-3 img{
				width: 400px;
				margin-top: 20px;
				margin-left: 50px;
			}

			#register-3{
				float:left;
				padding-bottom: 15px;
			}
			#register-3-center{
				float: left;
				margin-left: 65px;
			}
			#register-3 .bold{
				font-weight: bold;
			}
			#register-3 .register-description{
				width: 515px;
			}
			header.register-title{
				margin-top: 10px;
			}

			/**************/
			/* Register 4 */
			/**************/
			#register-4 img{
				width: 350px;
				margin :20px 0 20px 110px;
			}	

			#register-4{
				float:left;
				padding-bottom: 15px;
			}
			
			#register-4-center{
				float: left;
				margin-left: 65px;
			}
			
			#register-4 .register-description{
				width: 570px;
			}
			#register-4 .register-description.last-message{
				width: 470px;
				font-size: 19px;
			}
			#register-4 .bold{
				font-weight: bold;
			}
	
			#start{
				display: none;
				width: 93px;
				height: 28px;
                                float:right;
			}
			#slider-left{
				display: none;
				width: 93px;
				height: 28px;
			}
			#slider-right{
				width: 93px;
				height: 28px;
                                float: right;
			}
			.arrow{
				position: absolute;
				bottom: -35px;
				left: 20px;
                                z-index: -1;
			}


 /* ISOTOPE */
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


#footer{
    float: right;
    width: 790px;
    margin-bottom: 28px;
    font-size: 12px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

#footer a{
    color: #666;
}

#loading{
    margin-left: 200px;
    margin-top: 76px;
}


/****************/
/* Texto inicio */
/****************/
#text-inicio{
    font-size: 14px;
    text-align: justify;
}

#text-inicio table{
    margin-left: -3px;
}

#firma{
    float: left;
    width: 218px;
    margin-top: 17px;
}

#text-inicio h3, #text-inicio h4{
    font-family: lsansuni;
    font-weight: bold;
}

#text-inicio h3{
    margin-top: -2px;
}

/** TIPSY **/
    .tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
    .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
    .tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
    .tipsy-arrow { position: absolute; background: url('images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
    .tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
    .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
    .tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
    .tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }
  
  
  
  /** Tooltip session **/
  #tool-tip-pedrito{
    margin-left: 102px;
    z-index:auto;
  }
  
  
  #video{
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #nick{
      cursor: pointer;
  }