/* 
    Document   : style.css
    Created on : 22-may-2012, 13:24:50
    Author     : Nacho
    Description:
        Purpose of the stylesheet follows.
*/

/* Structure */
body{
	background: #F1F0F5;
	font-family: "verdana";
}
#page{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 25px;
}

#main-header{
	width: 940px;
	height: 70px;
	padding-top: 40px;
	margin: 0 10px;
	border-bottom: 1px solid #BCBEC0;
	overflow: hidden;
}

#sidebar{
	width: 239px;
	float: left;
	min-height: 500px;
	border-right: 1px solid #BCBEC0;
}
#content{
	width: 720px;
	padding-top: 10px;
	float: left;
}



/* Header */
#profile{
	width: 207px;
	margin-right: 10px;
	padding: 5px;
	border: solid 1px #D1D3D4;
	-moz-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	float: left;
	background: #FFFFFF;
}
#container-profile-img{
	width: 50px;
	height: 38px;
	-moz-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	overflow: hidden;
	float: left;
}

#profile-img{

}

#profile-username{
	color: #D9AB28;
	float: left;
	margin: 18px 0 0 5px;
}

#container-logo{
	width: 699px;
	height: 70px;
	border-left: 1px solid #BCBEC0;
	text-align: center;
	float: left;
}
#container-logo a{
	text-decoration: none;
	color: #1C75BE;
}
#logo{
	outline: none;
	border: none;
	color: 1C75BE;
}

/* Content */

/* Items */
.item {
	width: 166px;
	margin: 0 7px;
	float: left;
	margin-bottom: 25px;
}
.container-item-img{
	width: 166px;
	height: 187px;
	overflow: hidden;
	float: left;
	background: #FFFFFF url(../images/loading.gif) no-repeat 67px 77px;
}
.item-price{
	width: 100%;
	text-align: right;
	float: left;
	margin: 3px 0;
}
.item-brand{
	width: 100%;
	text-align: right;
	float: left;
}
.item-brand a{
	color: #1C75BE;
	text-decoration: none;
}

/* Sidebar */
#stores{
	width: 170px;
	float: right;
}
#stores h3{
	margin-bottom: 5px;
}
#stores ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#stores a{
	color: #1C75BC;
	text-decoration: none;
}

/************/
/* Slider	*/
/************/
#nav-slider{
	z-index: 3;
	position: absolute;
	bottom: 0;
	left: 350px;
}
#nav-slider ul{
	padding: 0;
}
.nav-list li {
	list-style:none;
	display:inline;
	cursor: pointer;
	margin-right: 5px;
}

.nav-list{
	margin:0;
}

.slider-item{	
	z-index: 1;
}

.container-slider, .slider-item
{
	width: 720px;
	overflow:hidden;
	position:relative;
	float:left;
}

.container-slider
{
	clear:both;
	float:left;
	background: url(images/loading.gif) no-repeat 49% 49%;
	padding-bottom: 40px;
}
.slider
{
	float:left;
	clear:both;
	width:100000px;
	position: relative;
	top: 0;
	left:0;
	z-index: 2;
}

/************/
/* Registro */
/*************/
#wellcome-content{
    width: 720px;
    margin: 0 auto;
}
#login-register{
	width: 850px;
	background: #D0D1D3;
	padding-top: 65px;
	padding-bottom: 50px;
	color: #7F8184;
	overflow:hidden;
}
#login-register h3{
	color: #1C75BC;
}
#login h3{
	text-align: right;
}
#login-register label {
	color: #7F8184;
	font-size: 14px;
}
#login-register input[type="text"], #login-register input[type="password"]{
	width: 215px;
	height: 30px;
	padding: 0 5px;
	clear: both;
	margin-bottom: 15px;
}
#login-register input[type="radio"]{
	margin-left: 10px;
}
#login-register #login{
	width: 225px;
	float: left;
	padding-left: 150px;
	padding-right: 40px;
	
}
#login-register #register{
	width: 333px;
	float: left;
	padding-right: 50px;
	padding-left: 40px;
	border-left: solid 1px #FFFFFF;
}
#label-sex{
	border-right: solid 2px #FFFFFF;
	padding-right: 12px;
}
#register-work{
	margin-top: 15px;
}
#login-register input[type="submit"]{
	padding: 8px 18px;
	font-size: 15px;
	color: white;
	background: #7FB5E2;
	border: none;
	-moz-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
#login-submit{
	float: right;
}

.form-info{
    float:right;
    height:30px;
    width:100px;
    color:red;
    font-size:12px;
    padding-top:11px;
}

#info-login-email{
    width:100%;
    font-size: 12px;
    color: red;
}

/********************/
/* Slider register	*/
/********************/
#nav-slider{
	z-index: 3;
	position: absolute;
	bottom: 0;
	left: 350px;
}
#nav-slider ul{
	padding: 0;
}
.nav-list li {
	list-style:none;
	display:inline;
	cursor: pointer;
	margin-right: 5px;
}

.nav-list{
	margin:0;
}

.slider-item{	
	z-index: 1;
}

.slider-register-container, .slider-register-item
{
	width: 710px;
	overflow:hidden;
	position:relative;
	float:left;
	height: 461px;
}

.slider-register-container
{
	clear:both;
	float:left;
	background: url("..images/loading.gif") no-repeat 49% 49%;
}

.slider
{
	float:left;
	clear:both;
	width:100000px;
	position: relative;
	top: 0;
	left:0;
	z-index: 2;
}

#content-register{
	width: 720px;
	padding-top: 10px;
	float: left;
	background: #d1d2d4;
}

/**************/
/* Registro-2 */
/**************/

#page-register{
	width: 710px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 25px;
}

#register-2 section{
	margin-left: 50px;
}

#what-is{
	margin-bottom: 20px;
}

#how-works{
	float:left;
	margin-top:25px;
	padding-top: 15px;
	border-top: 2px solid #E4E5E7;
}

.slider-register{
	width: 710px;
	background: #D0D1D3;
	padding-top: 20px;
	padding-bottom: 50px;
	color: #7F8184;
	overflow:hidden;
}

#register-2-description{
	width:380px;
	float:left;
}

#register-2-button{
	float:left;
	width: 130px;
}

#register-bookmarklet{
	float: right;
	text-align:center;
	padding-top: 3px;
	margin-left: 10px;
	background: #F1592A;
	width: 60px;
	height: 30px;
	color:white;
	font-size: 18px;
	font-weight: bold;
	-moz-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}	

#register-bookmarklet a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}

#register-2-button img{
	float:left;
	width:50px;
	margin-top: 8px;
}	

header.register-title{
	float:left;
	width:100%;
	clear:both;
	margin-bottom:5px;
}
span.register-title{
	color:#1475BC;
	font-size:19px;
	float:left;
	margin-top: 7px;
	width: 295px;
	font-family: Arial, Helvetica,sans-serif; 
}

.register-description{
	font-size: 12px;
	color: black;
	float:left;
}

.register-step{
	color:#1475BC;
	font-size:24px;
	float:left;
}

#register-2-screen1{
	margin-top: 20px;
	float:left;
}


/***************/
/* Registro 3  */
/***************/


#register-3-top{
	width:100%;
	float:left;
	clear:both;
	margin-bottom: 20px;
	margin-top:20px;
	height:195px;
}

.register-3-img{
	width:150px;
	margin: 0 auto;
}

#register-3 img{
	width: 150px; 
	margin: 0 auto;
	margin-top: 20px;
}
#register-step-3{
	width:330px;
	float:left;
	margin-left:15px;
	border-bottom:2px solid #F1F0F5;
	border-right:2px solid #F1F0F5;
	padding-bottom: 15px;
	padding-right:10px;
	height: 200px;
}


#register-step-4{
	width:320px;
	float:left;
	border-bottom: 2px solid #F1F0F5;
	height: 215px;
	padding-left: 17px;
}

#register-step-5{
	width:330px;
	float:left;
	margin-left:15px;
	border-right:2px solid #F1F0F5;
	padding-bottom: 15px;
	padding-right:10px;
	height: 200px;
}

#register-3-bottom{
	width:100%;
	float:left;
	clear:both;
}

#register-3-bottom  header.register-title{
	margin-top: 10px;
}

#register-step-6{
	width:320px;
	float:left;
	height: 215px;
	padding-left: 17px;
}

/**************/
/* Register 4 */
/**************/
#register-4 img{
	width: 600px;
	margin-top:20px;
}	

#register-4 span.register-title{
	width:580px;
}

#register-4{
	text-align:center;
}

#register-4 header.register-title{
	margin-left: 55px;
}

#last-menssage{
	margin-left: 55px;
	text-align:center;
	float:left;
	margin-top: 30px;
}
