/* 
    Document   : style.css
    Created on : 22-may-2012, 13:24:50
    Author     : Nacho
    Description:
        Purpose of the stylesheet follows.
*/

/* Structure */
body{
	background: #F1F0F5;
	font-family: "verdana";
}
#page{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 25px;
}

#main-header{
	width: 940px;
	height: 70px;
	padding-top: 40px;
	margin: 0 10px;
	border-bottom: 1px solid #BCBEC0;
	overflow: hidden;
}

#sidebar{
	width: 239px;
	float: left;
	min-height: 500px;
	border-right: 1px solid #BCBEC0;
}
#content{
	width: 720px;
	padding-top: 10px;
	float: left;
}



/* Header */
#profile{
	width: 207px;
	margin-right: 10px;
	padding: 5px;
	border: solid 1px #D1D3D4;
	-moz-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	float: left;
	background: #FFFFFF;
}
#container-profile-img{
	width: 50px;
	height: 38px;
	-moz-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	overflow: hidden;
	float: left;
}

#profile-img{

}

#profile-username{
	color: #D9AB28;
	float: left;
	margin: 18px 0 0 5px;
}

#container-logo{
	width: 699px;
	height: 70px;
	border-left: 1px solid #BCBEC0;
	text-align: center;
	float: left;
}
#container-logo a{
	text-decoration: none;
	color: #1C75BE;
}
#logo{
	outline: none;
	border: none;
	color: 1C75BE;
}

/* Content */

/* Items */
.item {
	width: 166px;
	margin: 0 7px;
	float: left;
	margin-bottom: 25px;
}
.container-item-img{
	width: 166px;
	height: 187px;
	overflow: hidden;
	float: left;
	background: #FFFFFF url(../images/loading.gif) no-repeat 67px 77px;
}
.item-price{
	width: 100%;
	text-align: right;
	float: left;
	margin: 3px 0;
}
.item-brand{
	width: 100%;
	text-align: right;
	float: left;
}
.item-brand a{
	color: #1C75BE;
	text-decoration: none;
}

/* Sidebar */
#stores{
	width: 170px;
	float: right;
}
#stores h3{
	margin-bottom: 5px;
}
#stores ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#stores a{
	color: #1C75BC;
	text-decoration: none;
}

/************/
/* Slider	*/
/************/
#nav-slider{
	z-index: 3;
	position: absolute;
	bottom: 0;
	left: 350px;
}
#nav-slider ul{
	padding: 0;
}
.nav-list li {
	list-style:none;
	display:inline;
	cursor: pointer;
	margin-right: 5px;
}

.nav-list{
	margin:0;
}

.slider-item{	
	z-index: 1;
}

.container-slider, .slider-item
{
	width: 720px;
	overflow:hidden;
	position:relative;
	float:left;
}

.container-slider
{
	clear:both;
	float:left;
	background: url(images/loading.gif) no-repeat 49% 49%;
	padding-bottom: 40px;
}
.slider
{
	float:left;
	clear:both;
	width:100000px;
	position: relative;
	top: 0;
	left:0;
	z-index: 2;
}

/************/
/* Registro */
/*************/
#wellcome-content{
    width: 720px;
    margin: 0 auto;
}
#login-register{
	width: 850px;
	background: #D0D1D3;
	padding-top: 65px;
	padding-bottom: 50px;
	color: #7F8184;
	overflow:hidden;
}
#login-register h3{
	color: #1C75BC;
}
#login h3{
	text-align: right;
}
#login-register label {
	color: #7F8184;
	font-size: 14px;
}
#login-register input[type="text"], #login-register input[type="password"]{
	width: 215px;
	height: 30px;
	padding: 0 5px;
	clear: both;
	margin-bottom: 15px;
}
#login-register input[type="radio"]{
	margin-left: 10px;
}
#login-register #login{
	width: 225px;
	float: left;
	padding-left: 150px;
	padding-right: 40px;
	
}
#login-register #register{
	width: 333px;
	float: left;
	padding-right: 50px;
	padding-left: 40px;
	border-left: solid 1px #FFFFFF;
}
#label-sex{
	border-right: solid 2px #FFFFFF;
	padding-right: 12px;
}
#register-work{
	margin-top: 15px;
}
#login-register input[type="submit"]{
	padding: 8px 18px;
	font-size: 15px;
	color: white;
	background: #7FB5E2;
	border: none;
	-moz-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
#login-submit{
	float: right;
}

.form-info{
    float:right;
    height:30px;
    width:100px;
    color:red;
    font-size:12px;
    padding-top:11px;
}