# Podemos especificar archivos individuales
.DS_Store
.htaccess
build/
js/config.js
application/config/config.php
application/config/database.php
application/views/footer.php
images

# O usar comodines
*~
*.swp

# También es posible ignorar todos los subdirectorios y archivos en un directorio determinado
#tmp/**/* 
